
<div class='row'>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Bastian_Bittorf_1.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Nguyen_Nang_Thang.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Wan_Leung_Wong.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Truong_Anh_Tuan.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Colin_Charles.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Mario_Behling.jpg'>
</div>
</div>

<div class='row'>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Preetam_Rai.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Nguyen_Vu_Hung.png'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Harsha_Siriwardena.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Handoko_Suwono.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Fernando_Travieso.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Fam_Zheng.jpg'>
</div>
</div>

<div class='row'>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Dominik_Stankowski.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/axelhecht_big.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/fam-zheng.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Sneha_Priscilla.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Dave_Crossland.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Michael-Knoll.jpg'>
</div>
</div>

<div class='row'>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Khoem-Sokhem.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/axelhecht_small.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Sarup_Banskota.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Jose_de_Soto.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Andun_Sameera_Liyanagunawardana.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Uditha_Bandara_Wijerathna.jpg'>
</div>
</div>

<div class='row'>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Julia_Yu-Chin_Cheng.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Mohit_Singh_Kanwal.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Cat_Allman.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Sebastian_Helzle.png'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Kushal_Das.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Sirko_Kemter.jpg'>
</div>
</div>

<div class='row'>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Michael_Howden.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Ping-Hsun_Chen.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Martin_F._Krafft_.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Stephanie_Taylor.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Kheng_Piseth.jpg'>
</div>
<div class='col-md-2'>
	<img src='/assets/images/speakers/Arthit_Suriyawongkul.jpg'>
</div>
</div>
